{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALBAFISH</title>
    <!-- Stylesheets -->
    <link href="{% static 'website/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/responsive.css' %}" rel="stylesheet">
    <!--Color Switcher Mockup-->
    <link href="{% static 'website/css/color-switcher-design.css' %}" rel="stylesheet">
    <!--Color Themes-->
    <link id="theme-color-file" href="{% static 'website/css/color-themes/default-theme.css' %}" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'website/images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'website/images/favicon.png' %}" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>



<body>
    <div class="main-wrapper pet about second">

        <div id="preloading"></div>

        <section class="featured">
            <div class="header">
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <a href="#" class="navbar-brand">
                            <!-- Logo Image -->
                            <img src="{% static 'website/images/.png' %}" width="" alt="image of logo" title="logo"
                                class="img-fluid d-inline-block align-middle mr-2">
                            <!-- Logo Text -->
                            <span class="text-uppercase font-weight-bold"></span>
                        </a>

                        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                            class="navbar-toggler"><span class="navbar-toggler-icon fa">&#xf0c9;</span></button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a href="home.html" class="nav-link active dropdown-toggle">HOME</a>
                                    
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="about.html" class="hvr-overline-from-center nav-link dropdown-toggle"
                                        >ABOUT</a>
                                    
                                </li>
                               
                                
                                <li class="nav-item dropdown">
                                    <a href="shop.html" class="hvr-overline-from-center nav-link dropdown-toggle"
                                        >SHOP</a>
                                    <ul class="dropdown-menu">
                                        
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Check Out</a></li>
                                        
                                    </ul>
                                </li>
                                
                                
                                <li class="nav-item dropdown">
                                    <a href="blog.html" class="hvr-overline-from-center nav-link dropdown-toggle"
                                        >BLOG</a>
                                    
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="contact.html" class="hvr-overline-from-center nav-link dropdown-toggle"
                                        >CONTACT</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="main-header">
                    <div class="sticky-header">
                        <div class="auto-container clearfix">
                            <!--Logo-->
                            
                            <!--Right Col-->
                            <div class="right-col pull-right">
                                <!-- Main Menu -->
                                <nav class="main-menu">
                                    <div class="navbar-header">
                                        <!-- Toggle Button -->
                                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                            data-target=".navbar-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="navbar-collapse clearfix">
                                        <ul class="navigation clearfix">
                                            <li class="current dropdown"><a href="home.html">Home</a>
                                                
                                            </li>
                                            <li class="dropdown"><a href="about.html">About</a>
                                                
                                            </li>
                                            
                                            
                                            <li class="dropdown"><a href="shop.html">Shop</a>
											<ul class="dropdown-menu">
                                        
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Check Out</a></li>
                                        
                                    </ul>
                                                
                                            </li>
                                            
                                            <li class="dropdown"><a href="blog.html">Blog</a>
                                                
                                            </li>
                                            <li class="dropdown"><a href="contact.html">Contact</a>
                                                
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                                <!-- Main Menu End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="crumb">
                <div class="container">
                    <h1>
                        About <span class="wow pulse" data-wow-delay="1s"> Chewy Chow </span>
                    </h1>
                    <div class="bg_tran">
                        
                    </div>
                    <p>
                        <a href="home.html" title="Home">HOME</a>
                        || <span>ABOUT</span>
                    </p>
                </div>
            </div>

        </section>

        <section class="about_us">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 odr_change">
                        <div class="image">
                            <div class="an_image an_image_hz_ps_center an_image_vt_ps_bottom an_image_anime_delay_300 an_image_anime_duration_1500 an_image_anime_style_ease_out_sine"
                                data-speed="1.2">
                                <div class="an_image_image" data-speed="1.2">
                                    <div class="pt_image"><span><img src="{% static 'website/images/home_5/pets.png' %}" title="Pet" alt="Image of Pet"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="heading text-center">
                            <p class="wow fadeInUp"><span class="purple"><i class="fas fa-paw"></i> </span><span
                                    class="orange"><i class="fas fa-paw"></i> </span><span class="purple"><i
                                        class="fas fa-paw"></i> </span></p>
                            <h2 class="wow fadeInDown">Welcome to <span class="wow pulse" data-wow-delay="1s">
                                    Chewy Chow</span></h2>
                        </div>
                        <div class="text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <ul>
                                <li><i class="orange fas fa-paw pr-2"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                </li>
                                <li><i class="orange fas fa-paw pr-2"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    </li>
                                <li><i class="orange fas fa-paw pr-2"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                            </ul>
                            <div class="button">
                                <a href="#" class="btn main" title="Services">
                                    More Services <i class="fas fa-paw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="faq">
            <div class="container">
                <div class="heading text-center">
                    <p class="wow fadeInUp"><span class="purple"><i class="fas fa-paw"></i> </span><span
                            class="orange"><i class="fas fa-paw"></i> </span><span class="purple"><i
                                class="fas fa-paw"></i> </span></p>
                    <h2>Asked <span class="wow pulse" data-wow-delay="1s"> Questions </span></h2>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="content">
                            <div class="accordion" id="accordionExample">
                                <div>
                                    <div class="coll mb-3">
                                        <div class="accord" id="headingOne">
                                            <div class="card-header" data-toggle="collapse"
                                                data-parent="#accordionExample" href="#collapseOne">
                                                <a class="card-title">Our Mission</a>
                                                <span><i class="fas fa-paw"></i></span>

                                            </div>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                                                    <br>

                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="coll mb-3">
                                        <div class="accord" id="headingTwo">
                                            <div class="card-header collapsed" data-toggle="collapse"
                                                data-parent="#accordionExample" href="#collapseTwo">
                                                <a class="card-title">Our Vision</a>
                                                <span><i class="fas fa-paw"></i></span>

                                            </div>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                                                    <br>

                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="coll mb-3">
                                        <div class="accord" id="headingThree">
                                            <div class="card-header collapsed" data-toggle="collapse"
                                                data-parent="#accordionExample" href="#collapseThree">
                                                <a class="card-title">Values</a>
                                                <span><i class="fas fa-paw"></i></span>

                                            </div>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                                                    <br>

                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="coll mb-3">
                                        <div class="accord" id="headingFour">
                                            <div class="card-header collapsed" data-toggle="collapse"
                                                data-parent="#accordionExample" href="#collapseFour">
                                                <a class="card-title">New Anouncement</a>
                                                <span><i class="fas fa-paw"></i></span>

                                            </div>
                                        </div>
                                        <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                                                    <br>

                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="steps">
            <div class="container">
                <div class="heading text-center">
                    <p class="wow fadeInUp"><span class="purple"><i class="fas fa-paw"></i> </span><span
                            class="orange"><i class="fas fa-paw"></i> </span><span class="purple">
                            <i class="fas fa-paw"></i> </span></p>
                    <h2 class="wow fadeInDown">We Love to <span class="wow pulse" data-wow-delay="1s"> Serve
                            You</span></h2>
                </div>
                <div class="services">
                    <div class="cards">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card orange wow fadeInLeft">
                                    <div class="icon">
                                        <div class="svg-icon" id="svg-1"
                                            data-svg-icon="{% static 'website/images/home_5/svg/pet_care.svg' %}">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h5>Pet Care</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        </p>
                                        <div class="more">
                                            <a href="#" title="Read More"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card yellow wow fadeInUp">
                                    <div class="icon">
                                        <div class="svg-icon" id="svg-2"
                                            data-svg-icon="{% static 'website/images/home_5/svg/pet_grooming.svg' %}">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h5>Pet Food</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        </p>
                                        <div class="more">
                                            <a href="#" title="Read More"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card purple wow fadeInRight">
                                    <div class="icon">
                                        <div class="svg-icon" id="svg-3" data-svg-icon="{% static 'website/images/home_5/svg/pet_support.svg' %}">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h5>Support</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        </p>
                                        <div class="more">
                                            <a href="#" title="Read More"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button text-center">
                        <a href="#" class="btn main" title="Services">
                            More Services <i class="fas fa-paw"></i>
                        </a>
                    </div>

                </div>

            </div>
        </section>

        <section class="new_custom">
            <div class="container">
                <div class="heading text-center">
                    <p class="wow fadeInUp"><span class="purple"><i class="fas fa-paw"></i> </span><span
                            class="orange"><i class="fas fa-paw"></i> </span><span class="purple"><i
                                class="fas fa-paw"></i> </span></p>
                    <h2 class="wow fadeInDown">Read <span class="wow pulse" data-wow-delay="1s">
                            Testimonials</span></h2>
                </div>
                <div class="owl-carousel">
                    <div class="item">
                        <div class="testimon">
                            <div class="image">
                                <img src="{% static 'website/images/home_5/customer-1.png' %}" alt="image of client" title="client"
                                    class="img-fluid customer">
                                <img src="{% static 'website/images/home_5/cta-2-dot-1.png' %}" alt="Image of Dot" title="Dot"
                                    class="img-fluid dots">
                            </div>
                            <div class="content">
                                <h3 class="wow fadeInDown">Armegi Mebelli</h3>
                                <span class="open">❝</span>
                                <p class="wow fadeInUp">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                </p>
                                <span class="close">❞</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon">
                            <div class="image">
                                <img src="{% static 'website/images/home_5/customer-2.png' %}" alt="image of client" title="client"
                                    class="img-fluid customer">
                                <img src="{% static 'website/images/home_5/cta-2-dot-1.png' %}" alt="Image of Dot" title="Dot"
                                    class="img-fluid dots">
                            </div>
                            <div class="content">
                                <h3>Besjan Coku</h3>
                                <span class="open">❝</span>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                </p>
                                <span class="close">❞</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon">
                            <div class="image">
                                <img src="{% static 'website/images/home_5/customer-3.png' %}" alt="image of client" title="client"
                                    class="img-fluid customer">
                                <img src="{% static 'website/images/home_5/cta-2-dot-1.png' %}" alt="Image of Dot" title="Dot"
                                    class="img-fluid dots">
                            </div>
                            <div class="content">
                                <h3>Antigoni Kruti</h3>
                                <span class="open">❝</span>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                </p>
                                <span class="close">❞</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon">
                            <div class="image">
                                <img src="{% static 'website/images/home_5/customer-2.png' %}" alt="image of client" title="client"
                                    class="img-fluid customer">
                                <img src="{% static 'website/images/home_5/cta-2-dot-1.png' %}" alt="Image of Dot" title="Dot"
                                    class="img-fluid dots">
                            </div>
                            <div class="content">
                                <h3>Joana Adushaj</h3>
                                <span class="open">❝</span>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                </p>
                                <span class="close">❞</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="an_image an_image_hz_ps_right an_image_vt_ps_middle an_image_anime_delay_300 an_image_anime_duration_1500 an_image_anime_style_ease_out_sine"
                    data-speed="1.2">
                    <div class="an_image_image" data-speed="1.2">
                        <div class="pt_image">
                            <span>
                                <img src="{% static 'website/images/home_5/frisbee.png' %}" title="Frisbee" alt="Image of Frisbee"
                                    class="frisbee">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="team">
            <div class="container">
                <div class="heading text-center">
                    <p class="wow fadeInUp"><span class="purple"><i class="fas fa-paw"></i> </span><span
                            class="orange"><i class="fas fa-paw"></i> </span><span class="purple"><i
                                class="fas fa-paw"></i> </span></p>
                    <h2 class="wow fadeInDown">Our Team <span class="wow pulse" data-wow-delay="1s">
                            Members</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="member">
                            <div class="image">
                                <img src="{% static 'website/images/home_5/team-1.png' %}" alt="image of client" title="client"
                                    class="img-fluid customer">
                            </div>
                            <div class="content">
                                <h4 class="wow fadeInDown">Drini Zusi</h4>
                                <p class="wow fadeInUp">
                                    FOUNDER
                                </p>
                                <p>
                                    <a href="#" title="facebook"><i class="fas fa-facebook"></i></a>
                                    <a href="#" title="twitter"><i class="fas fa-twitter"></i></a>
                                    <a href="#" title="instagram"><i class="fas fa-instagram"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="member">
                            <div class="image">
                                <img src="{% static 'website/images/home_5/team-2.png' %}" alt="image of client" title="client"
                                    class="img-fluid customer">
                            </div>
                            <div class="content">
                                <h4 class="wow fadeInDown">Ina Xhakolli</h4>
                                <p class="wow fadeInUp">
                                    Manager
                                </p>
                                <p>
                                    <a href="#" title="facebook"><i class="fas fa-facebook"></i></a>
                                    <a href="#" title="instagram"><i class="fas fa-instagram"></i></a>
                                    <a href="#" title="twitter"><i class="fas fa-twitter"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="member">
                            <div class="image">
                                <img src="{% static 'website/images/home_5/team-3.png' %}" alt="image of client" title="client"
                                    class="img-fluid customer">
                            </div>
                            <div class="content">
                                <h4 class="wow fadeInDown">Eduard Milushi</h4>
                                <p class="wow fadeInUp">
                                    Professor
                                </p>
                                <p>
                                    <a href="#" title="facebook"><i class="fas fa-facebook"></i></a>
                                    <a href="#" title="instagram"><i class="fas fa-instagram"></i></a>
                                    <a href="#" title="twitter"><i class="fas fa-twitter"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="new_foot">
            <div class="container">
                <div class="logo text-center">
                    <img src="{% static 'website/images/.png' %}" alt="image of logo" title="logo" class="img-fluid">
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="intro">
                            <p class="head">
                                Contact Info
                            </p>
                            <ul>
                                <li class="location">
                                    Lezhe,Albania
                                </li>
                                <li class="number">
                                    <a href="tel:+1 234 567 8900">+(1) 234 567 8900 </a></li>
                                <li class="gmail">
                                    <a href="#"> team4@gmail.com </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <div class="letter text-center">
                            <p class="head">
                                Get Newsletter
                            </p>
                            <form method="post" action="contact.html">
                                <div class="form-label-group">
                                    <input type="email" name="email2" id="email2" placeholder="EMAIL"
                                        class="form-control white b_lblue">
                                    <button type="submit" class="btn form-control">SUBSCRIBE</button>
                                </div>
                            </form>
                            <div class="links">
                                <a href="#" class="btn" title="whatsapp"><i class="fab fa-whatsapp"></i></a>
                                <a href="#" class="btn" title="twitter"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="btn" title="instagram"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="btn" title="youtube"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="quick">
                            <p class="head">
                                Quick Links
                            </p>
                            <ul>
                                <li><a href="#" title="Dog Borading Services"><i class="fas fa-paw yellow mr-2"></i>
                                        Home</a></li>
                                <li><a href="#" title="Cat Boarding Services"><i class="fas fa-paw yellow mr-2"></i>
                                        About Us</a></li>
                                <li><a href="#" title="Bath and Grooming Services"><i
                                            class="fas fa-paw yellow mr-2"></i>
                                        Our Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <p>&copy; Copyright 2021.<a href="#" class="name orange" title="PAWREX"> Team 4 Uni Tirana(FE)
                        </a> All
                        Rights Reserved &reg;</p>
                </div>
                <div class="cat wow fadeIn">
                    <img src="{% static 'website/images/home_5/img-1.png' %}" alt="image of pets" title="pets">
                </div>
                <div class="dog wow fadeIn">
                    <img src="{% static 'website/images/home_5/img-2.png' %}" alt="image of pets" title="pets">
                </div>
            </div>
        </section>

        <div class="pet">
            <a id="back2Top" title="Back to top" href="#" class="hvr-radial-in"><i class="fas fa-paw"></i></a>
        </div>

        

        <div class="search-popup">
            <button class="close-search style-two"><img src="{% static 'website/images/home_5/cross-out.png' %}" alt=""></button>
            <button class="close-search"><img src="{% static 'website/images/home_5/cross-out.png' %}" alt=""></button>
            <form method="post" action="blog.html">
                <div class="form-group">
                    <input type="search" name="search-field" value="" placeholder="Search Here" required>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>

    </div>

    <script src="{% static 'website/js/jquery.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'website/js/mousewheel.js' %}"></script>

    <script src="{% static 'website/js/wow.min.js' %}"></script>
    <script src="{% static 'website/js/vivus.min.js' %}"></script>

    <script src="{% static 'website/js/script.js' %}"></script>
    <script src="{% static 'website/js/color-settings.js' %}"></script>

</body>

</html>